h1{
color:#34b1eb;
font-family:verdana;
font-size:30 px;
}

background-color: #666666;
background-image: url('https://wallpaperaccess.com/full/4650208.jpg');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
