<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-family: Garamond, serif;
  
  
  <!DOCTYPE html>
<html>
<head>
<style>
<h2> {
  font-family: Garamond, serif;
  
background: rgba(114,149,204,0.82) none no-repeat scroll 0 0;
</style>
</head>
<body>


h1
{color:#174b66;
border: 8px solid #000;
}

h2
{color:#42b3f5;
border: 8px solid #000;
}

